@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 20, 18, 23;
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  width: 100%;
  height: 100vh;
}

.box {
  aspect-ratio: auto 1/1;
}

.chatIcon2 {
  cursor: grab;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #756982;
  border-radius: 5px;
}

/* 스크롤바 숨기기 hide-scrollbar 사용 */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer components {
  /* 많이 쓰이는 컬러만 */
  .button-color {
    @apply bg-purple text-white;
  }
  /* 보라색 버튼 hover 시 */
  .button-hover {
    @apply border-2 bg-white text-purple hover:border-purple;
  }
  /* 보라색 버튼 클릭 시 */
  .button-click {
    @apply border-2 bg-white text-darkPurple active:border-darkPurple;
  }

  /* 기본 버튼 레이아웃 */
  /* 색상, py 와 px 는 따로 지정 */
  .button-layout {
    @apply rounded-2.5xl text-sm font-bold  border-2 box-border;
  }

  /* transition */
  .button-tr {
    @apply transition duration-200 ease-in-out;
  }
  /* transition, hover시 tansform */
  .button-tr-tf {
    @apply button-tr hover:scale-[1.02];
  }

  /* 해시태그 레이아웃 */
  /* 색상 따로 지정 */
  .hashtag-layout {
    @apply rounded-2xl px-4 py-[0.34rem] text-sm font-bold;
  }

  /* 해시태그 hover, active 시 bg색상 변화 */
  .hashtag-hover-active {
    @apply hover:bg-purple active:bg-darkPurple;
  }

  /* 
font-size: 14px;
font-weight: 400;
color: #756982
 */
  .text-14px-normal-dP {
    @apply text-sm font-normal text-darkPurple;
  }
}

@font-face {
  font-family: 'Pattua One';
  src: url('https://cdn.jsdelivr.net/gh/google/fonts@main/ofl/patuaone/PatuaOne-Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
